<div class="fic">
  <div class="ficmain">
    <%= link_to fic.title, fic =%> by <%= fic.authors.empty? ? "Unknown" : fic.authors.join(", ") =%>
  </div>
  <div class="ficinfo">
    <%= fic.series.empty? ? "Unknown" : fic.series.join(", ") =%> - <%= fic.genres.empty? ? "Unknown" : fic.genres.join(", ") =%> -
    <% if fic.chapters.count == 1 %>
    Views: <%= fic.views =%>
    <% else %>
    Chapters: <%= fic.chapters.count =%>
    <% end %>
    - Words: <%= fic.word_count =%>
  </div>
  <% if !fic.matchups.empty? %>
  <div class="ficinfo">
    <%= fic.matchups.join(", ") =%>
  </div>
  <% end %>
  <% if (fic.sequel != nil) || (fic.prequel != nil) || (fic.main_story != nil) || !fic.sidestories.empty? %>
  <div class="ficinfo">
    <% if fic.prequel != nil %>
    Prequel: <%= link_to fic.prequel.to_s, fic.prequel =%>
    <% end %>
    <% if fic.sequel != nil %>
    Sequel: <%= link_to fic.sequel.to_s, fic.sequel =%>
    <% end %>
    <% if !fic.sidestories.empty? %>
      Sidestories:
      <% fic.sidestories.each do |sidestory| %>
        <%= link_to sidestory.to_s, sidestory =%><%= ", " if sidestory != fic.sidestories.last %>
      <% end %>
    <% end %>
    <% if fic.main_story != nil %>
    Sidestory to: <%= link_to fic.main_story.to_s, fic.main_story =%>
    <% end %>
  </div>
  <% end %>
</div>
