<div class="fic">
  <div class="ficmain">
    <%= link_to fic.title, fic =%> by <%= fic.authors.empty? ? "Unknown" : fic.authors.join(", ") =%>
  </div>
  <div class="ficinfo">
    <%= fic.series.empty? ? "Unknown" : fic.series.join(", ") =%> - <%= fic.genres.empty? ? "Unknown" : fic.genres.join(", ") =%> - Chapters: <%= fic.chapters.count =%> - Words: <%= fic.word_count =%>
  </div>
  <% if !fic.matchups.empty? %>
  <div class="ficinfo">
    <%= fic.matchups.join(", ") =%>
  </div>
  <% end %>
  <% if (fic.sequel != nil) || (fic.prequel != nil) || (fic.main_story != nil) || !fic.sidestories.empty? %>
  <div class="ficinfo">
    <%= "Prequel: " + fic.prequel.to_s if fic.prequel != nil =%><%= "Sequel: " + fic.sequel.to_s if fic.sequel != nil =%><%= "Sidestories: " + fic.sidestories.join(", ") if !fic.sidestories.empty? =%><%= "Sidestory to: " + fic.main_story.to_s if fic.main_story != nil =%>
  </div>
  <% end %>
</div>
