<div class="readnav topnav">

  <% if @chapter != @fic.chapters.first %>
  <span class="readnavprev">
    <%= link_to "< prev", [@fic, @fic.chapters[@fic.chapters.find_index(@chapter)-1]] =%>
  </span>
  <% end %>

  <div class="readnavinfo">
    <div>
  <%= @fic.title =%> <span class="label">by</span> <%= @fic.authors.join(", ") || "Unknown" =%>
  <% if @fic.chapters.count > 1 %>
  <br /> <%= select("@chapter", "number", @fic.chapters.collect {|c| [ c, c.number ] }, { :selected => @chapter.number }, { :id => "topchapterselect" }) =%>
    <%= hidden_field(:fic, :id) =%>
  <% end %>
    </div>
  </div>

  <% if @chapter != @fic.chapters.last %>
  <span class="readnavnext">
    <%= link_to "next >", [@fic, @fic.chapters[@fic.chapters.find_index(@chapter)+1]] =%>
  </span>
  <% end %>

</div>

<div class="chapter_sidebar">
<div class="sidebar_section">
  <a href="#" id="appearance_button" class="button">Aa</a>
  <div class="appearance_popup">
    <table>
      <tr>
        <td>Theme:</td>
	<td><%= select("theme", "key", @themes.collect { |key, name| [ name, key ] }, { :selected => @themecookie }, { :id => "themeselect" }) =%></td>
      </tr>
      <tr>
        <td>Size:</td>
	<td><%= select("text", "size", @textsizes.collect { |key, name| [ name, key ] }, { :selected => @textsizecookie }, { :id => "textsizeselect" }) =%></td>
      </tr>
    </table>
  </div>
</div>
<div class="sidebar_section">
<a href="#" id="spelling_button" class="button">Sp</a>
  <div class="spelling_popup">
    <%= form_tag({ :action => :add_transform }, { :method => :post, :id => :spelling_form }) =%>
    <table>
      <tr>
        <td>Original:</td>
        <td><input type="text" name="spelling_original" id="spelling_original" autocorrect="off" autocapitalize="off" /></td>
      </tr>
      <tr>
	<td>Replacement:</td>
	<td><input type="text" name="spelling_replacement" id="spelling_replacement" autocapitalize="off" /></td>
      </tr>
      <tr>
        <td></td>
	<td><input type="submit" value="Set" id="spelling_set" /></td>
      </tr>
    </table>
  </div>
</div>
</div>

<div class="readtext <%= @textsizecookie =%>_size">
<%= @chapter_presenter.content =%>
</div>

<% if @fic.chapters.count > 1 %>
<div class="readnav bottomnav">

  <% if @chapter != @fic.chapters.first %>
  <span class="readnavprev">
    <%= link_to "< prev", [@fic, @fic.chapters[@fic.chapters.find_index(@chapter)-1]] =%>
  </span>
  <% end %>

  <span class="readnavinfo">
  <%= @fic.title =%> <span class="label">by</span> <%= @fic.authors.join(", ") || "Unknown" =%>
  <br /> <%= select("@chapter", "number", @fic.chapters.collect {|c| [ c, c.number ] }, { :selected => @chapter.number }, { :id => "bottomchapterselect" }) =%>
  </span>

  <% if @chapter != @fic.chapters.last %>
  <span class="readnavnext">
    <%= link_to "next >", [@fic, @fic.chapters[@fic.chapters.find_index(@chapter)+1]] =%>
  </span>
  <% end %>

</div>
<% end %>
